@import "./reset.css";
:root {
  --maincolor: #027731;
  /* --maincolor: red; */
  --hovercolor: #006428;
}

@font-face {
  font-family: Merriweather;
  src: url('../font/Merriweather/Merriweather-Bold.ttf'), url('../font/Merriweather/Merriweather-Black.ttf'), url('../font/Merriweather/Merriweather-BlackItalic.ttf'), url('../font/Merriweather/Merriweather-BoldItalic.ttf'), url('../font/Merriweather/Merriweather-Italic.ttf'), url('../font/Merriweather/Merriweather-Light.ttf'), url('../font/Merriweather/Merriweather-LightItalic.ttf'), url('../font/Merriweather/Merriweather-Regular.ttf');
}

@font-face {
  font-family: SourceSerifPro;
  /* src: url('../font/SourceSerifPro/SourceSerifPro-Black.ttf'), url('../font/SourceSerifPro/SourceSerifPro-BlackItalic.ttf'), url('../font/SourceSerifPro/SourceSerifPro-Bold.ttf'), url('../font/SourceSerifPro/SourceSerifPro-BoldItalic.ttf'), url('../font/SourceSerifPro/SourceSerifPro-ExtraLight.ttf'), url('../font/SourceSerifPro/SourceSerifPro-ExtraLightItalic.ttf'), url('../font/SourceSerifPro/SourceSerifPro-Italic.ttf'), url('../font/SourceSerifPro/SourceSerifPro-Light.ttf'), url('../font/SourceSerifPro/SourceSerifPro-LightItalic.ttf'), url('../font/SourceSerifPro/SourceSerifPro-Regular.ttf'), url('../font/SourceSerifPro/SourceSerifPro-SemiBold.ttf'), url('../font/SourceSerifPro/SourceSerifPro-SemiBoldItalic.ttf'); */
  src: url('../font/SourceSerifPro/SourceSerifPro-SemiBold.ttf');
}

@font-face {
  font-family: RobotoCondensed;
  src: url("../font/RobotoCondense/RobotoCondensed-Bold.ttf"), url("../font/RobotoCondense/RobotoCondensed-BoldItalic.ttf"), url("../font/RobotoCondense/RobotoCondensed-Italic.ttf"), url("../font/RobotoCondense/RobotoCondensed-Light.ttf"), url("../font/RobotoCondense/RobotoCondensed-LightItalic.ttf"), url("../font/RobotoCondense/RobotoCondensed-Regular.ttf"),
}

@font-face {
  font-family: Roboto;
  src: url("../font/Roboto/Roboto-Black.ttf"), url("../font/Roboto/Roboto-BlackItalic.ttf"), url("../font/Roboto/Roboto-Bold.ttf"), url("../font/Roboto/Roboto-BoldItalic.ttf"), url("../font/Roboto/Roboto-Italic.ttf"), url("../font/Roboto/Roboto-Light.ttf"), url("../font/Roboto/Roboto-LightItalic.ttf"), url("../font/Roboto/Roboto-Medium.ttf"), url("../font/Roboto/Roboto-MediumItalic.ttf"), url("../font/Roboto/Roboto-Regular.ttf"), url("../font/Roboto/Roboto-Thin.ttf"), url("../font/Roboto/Roboto-ThinItalic.ttf")
}

@font-face {
  font-family: SourceSansProSemiBold;
  src: url("../font/SourceSansPro/SourceSansPro-SemiBold.ttf")
}

@font-face {
  font-family: SourceSansProRegular;
  src: url("../font/SourceSansPro/SourceSansPro-Regular.ttf")
}

@font-face {
  font-family: SourceSansProLight;
  src: url("../font/SourceSansPro/SourceSansPro-Light.ttf")
}

@font-face {
  font-family: SourceSansProBlack;
  src: url("../font/SourceSansPro/SourceSansPro-Black.ttf")
}

h1, h2, h3, h4, h5, h6 {
  /* font-family: "Times New Roman" !important; */
}

html, body {
  height: 100%
}

body {
  font-family: SourceSansProRegular !important;
  /*letter-spacing: .2px;*/
  line-height: normal !important
}

input[type="text"], input[type="text"]:active, input[type="text"]:active {
  /* border-top: 0px; */
  -webkit-appearance: none;
}

input[type="search"], input[type="search"]:active, input[type="search"]:active {
  -webkit-appearance: none;
}

.block-title {
  font-family: SourceSansProSemiBold;
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 8px;
  text-align: left;
  line-height: 31px;
  color: #97b640;
}
@media (max-width: 767px) {
  .block-title {
    font-size: 25px;
  }
}

.auth-form-wrapper {
  text-align: center;
  padding-bottom: 20px;
}

.auth-form__title {
  padding: 26px 0 22px;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
}

.auth-form {
  margin-top: 77px;
}

.auth-form .form-input {
  width: 100%;
  display: inline-block;
  position: relative;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  transition: 0.2s ease;
}

.auth-form .form-input.error {
  margin-bottom: 45px;
}

.auth-form .form-input.error input {
  border-color: #f79483;
}

.auth-form .form-input.error label {
  color: #f79483;
}

.auth-form .main-error {
  color: #f79483;
}

.auth-form .form-input .error {
  display: none;
}

.auth-form .form-input.error .error {
  text-align: left;
  margin-top: 10px;
  color: #f79483;
  font-size: 16px;
  display: block;
}

.auth-form .form-input input {
  -webkit-appearance: none;
  position: relative;
  height: 40px;
  margin: 0;
  padding: 0;
  font-size: 15px;
  outline: none;
  box-shadow: none;
  border: none;
  border-radius: 0;
  background: transparent;
  border-top: solid 1px #75757500 !important;
  border-right: 0;
  border-left: 0;
  border-image: none;
  border-bottom: 1px solid #e1e1e1;
  width: 100%;
}

.auth-form .form-input input:focus {
  border-top: solid 1px #75757500 !important;
  border-image: none;
}

.auth-form .form-input input:focus~label, .auth-form .form-input input:valid~label {
  top: -18px;
  font-size: 11px;
  opacity: 0.6;
}

.auth-form .form-input label {
  -webkit-appearance: none;
  position: absolute;
  left: 0;
  text-transform: uppercase;
  transition: all 0.2s ease;
  pointer-events: none;
  top: -5px;
}

.auth-form .form-btn {
  width: 100%;
  height: 50px;
  background-color: #fff;
  padding: 5px 12px 6px;
  margin-top: 20px;
  margin-bottom: 0;
  text-transform: uppercase;
  text-shadow: none;
  font-size: 13px;
  font-weight: 600;
  color: #000;
  -webkit-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);
  border: 0;
  border-radius: 0;
  -webkit-transition: background-color 0.2s ease !important;
  transition: background-color 0.2s ease !important;
}

.auth-form .form-btn:hover {
  background: var(--hovercolor);
  color: #ffffff;
}

.auth-form .form-link {
  display: block;
  margin-top: 8px;
  font-size: 15px;
  cursor: pointer;
}

.auth-form .form-link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .auth-form .form-input {
    margin-bottom: 20px;
  }
  .auth-form .form-input label {
    font-size: 10px;
  }
  .auth-form .form-input.error {
    margin-bottom: 30px;
  }
  .auth-form .form-input input:focus~label, .auth-form .form-input input:valid~label {
    top: -13px;
    font-size: 10px;
    opacity: 0.6;
  }
}

@media (max-width: 1018px) and (min-width: 768px) {
  .block-title {
    font-size: 18px;
    margin-bottom: 2px;
  }
}

@media (max-width: 1140px) and (min-width: 1019px) {
  .block-title {
    font-size: 20px;
  }
}

@media (min-width: 1141px) {
  .block-title {
    font-size: 24px;
  }
}

.line-clamp-title {
  /* display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden; */
}

.line-clamp-excerpt {
  display: -webkit-box !important;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-excerpt-mobile {
  display: -webkit-box !important;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/********** SHARED STYLES *******/

.zero_bottom {
  bottom: 0;
}

/********** GENERAL STYLES - PLEASE FOLLOW THIS *******/

.logo {
  color: var(--maincolor);
}

.article-info {
  font-size: 15px !important;
  vertical-align: center;
  /*padding: 12px 0 0 0;*/
}

.article-info-wrapper {
  font-style: italic;
  color: #444;
  display: flex;
}

.column-item {
  padding-bottom: 6px;
}

.row-item {
  /* padding-bottom: 20px;
  margin-bottom: 20px; */
}

.row-item-mobile {
  padding-bottom: 20px;
}

.row-item .row-item-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.spotlight-item {
  /*padding-bottom: 20px;*/
  /*margin-bottom: 20px;*/
}

.item-image-container {
  width: 100%;
  max-height: 250px;
}

.row-item-container .item-image-container {
  width: 42% !important;
  position: relative;
}

.row-item-container .item-image-container-mobile {
  width: 100%s !important;
  position: relative;
}

.spotlight-item .item-image-container {
  width: 100% !important;
  max-height: none !important;
}

.item-image img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.item-category {
  font-family: SourceSansProSemiBold;
  font-weight: 600;
  font-size: 13px;
  z-index: 1 !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: auto;
  display: inline-block !important;
  background-color: var(--maincolor);
  color: #fff !important;
  padding: 3px;
}

.item-category:hover {
  opacity: 0.9 !important;
  background-color: var(--hovercolor) !important;
}

.item-info {
  font-size: 15px !important;
  padding: 12px 0 0 0;
}

.item-info .item-title {
  font-family: SourceSansProSemiBold;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  padding-top: 8px;
}

.item-info item-title a:hover {
  color: var(--hovercolor);
}

.row-item .item-info {
  width: 56%;
  padding: 10px 0 0 0;
  border-top: 1px solid #eaeaea;
}

.item-info-mobile {
  width: 100%;
  padding: 10px 0 0 0;
  border-top: 1px solid #eaeaea;
}

.column-item .item-title {
  font-size: 22px !important;
}

.row-item .item-title {
  font-size: 24px !important;
}

.row-item-mobile .item-title {
  font-size: 22px !important;
}

.spotlight-item .item-title {
  font-size: 30px !important;
}

.item-info .item-meta {
  font-family: SourceSansProLight;
  /* font-size: 15px;
  font-weight: 300;
  font-style: italic;
  margin-top: 4px; */

  font-style: italic;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  padding-top: 8px;
}

.spotlight-item .item-meta {
  margin-bottom: 8px;
}

/* .item-info .item-excerpt {
  padding-top: 12px;
  font-size: 16px !important;
  line-height: 1.4;
} */
/* @media (max-width: 1018px) and (min-width: 768px) {
  .item-info .item-excerpt { 
    
  }
} */
.item-author {
  font-family: SourceSansProLight;
  font-style: italic;
  font-weight: 600;
}

.item-date {
  font-family: SourceSansProLight;
  font-style: italic;
  font-weight: 600;
}

.swiper-pagination-bullet-active {
  background-color: var(--maincolor) !important;
}

.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
  content: 'prev';
  color: var(--maincolor) !important;
  background-color: #bdb6b5;
  padding: 20px;
  border-radius: 0px 10px 10px 0px;
  opacity: 0.8;
  pointer-events: all;
}

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
  content: 'next';
  color: var(--maincolor) !important;
  background-color: #bdb6b5;
  padding: 20px;
  border-radius: 10px 0px 0px 10px;
  opacity: 0.8;
  pointer-events: all;
}

.img-32-container {
  position: relative;
  width: 100%;
  padding-top: 66%;
  overflow: hidden;
}

.img-32 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.img-11-container {
  position: relative;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
}

.img-11 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.logo-rest {
  max-height: 75px;
}

.logo-safari {
  height: 75px !important;
}

.logo-safari-navi-fixed {
  height: 75px !important;
}

@media (max-width: 767px) {
  .item-category {
    font-size: 12px !important;
  }
  .row-item .row-item-container {
    align-items: stretch;
  }
  .column-item .item-image-container {
    height: 150px;
  }
  .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
    content: 'prev';
    color: var(--maincolor) !important;
    font-size: 20px !important;
    background-color: #bdb6b5;
    right: 0;
    padding: 18px;
    border-radius: 0px 10px 10px 0px;
    opacity: 0.8;
    pointer-events: all;
  }
  .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
    content: 'next';
    color: var(--maincolor) !important;
    font-size: 20px !important;
    background-color: #bdb6b5;
    padding: 18px;
    border-radius: 10px 0px 0px 10px;
    opacity: 0.8;
    pointer-events: all;
  }
  .crumb {
    font-size: 12px;
  }
}

@media (max-width: 1018px) and (min-width: 768px) {
  .row-item {
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .column-item .item-image-container {
    height: 120px;
  }
}

@media (max-width: 1140px) and (min-width: 1019px) {
  .column-item .item-image-container {
    height: 150px;
  }
}

@media (min-width: 1141px) {
  .column-item .item-image-container {
    height: 175px;
  }
}

/*Tag*/

.tagDetail {
  font-family: SourceSansProSemiBold;
  font-weight: 600;
  font-size: 14px;
}

.dropMenuChildren {
  font-family: SourceSansProRegular;
  font-weight: 400;
  font-size: 16px;
}
@media (max-width: 767px) {
  .dropMenuChildren {
    font-family: SourceSansProRegular;
    font-weight: 400;
    font-size: 16px;
    color: #030106
  }
}
.section-title {
  font-family: SourceSansProSemiBold;
  font-weight: 600;
  font-size: 22px;
}

.title-font {
  font-family: SourceSansProSemiBold;
  font-weight: 600;
  font-size: 29px;
}

.spotlight-item .item-title {
  font-family: SourceSansProSemiBold;
  font-weight: 600;
  font-size: 30px;
}

.side-item .side-item__info h3 {
  font-family: SourceSansProSemiBold;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 6px;
  line-height: 20px;
}

.side-item .side-item__date {
  font-family: SourceSansProLight;
  font-size: 12px;
  line-height: 1;
  font-style: italic;
  font-weight: 400;
}

.text-white {
  font-family: SourceSansProBlack;
  font-size: 53px;
  font-weight: 900;
}

.text-2xl {
  font-family: SourceSansProSemiBold;
  font-weight: 600;
  font-size: 24px;
}

.footer__block-title {
  font-family: SourceSansProSemiBold;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 16px;
  line-height: 31px;
  color: var(--maincolor);
  font-weight: 600;
}

.footer__logo--description {
  font-family: SourceSansProSemiBold;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
  margin: 10px 0;
}

.loginRegis {
  font-size: 13px
}

.top-content {
  font-size: 13px
}

.social-box {
  font-family: SourceSansProBlack;
  font-size: 12px;
  font-weight: 900;
}

.item-info .item-excerpt {
  font-family: SourceSansProLight;
  /* font-weight: 600; */
  /* padding-top: 12px;
  font-size: 16px !important;
  line-height: 1.55; */

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  padding-top: 8px;
}

.date-ntv {
  font-family: SourceSansProLight;
  font-weight: 600;
}

.font-country-ntv {
  font-family: SourceSansProLight;
  font-weight: 600;
}

.items-center a span {
  font-family: SourceSansProSemiBold;
}

.crumb {
  font-family: SourceSansProLight;
  font-weight: 600;
}

.post__main--title {
  font-family: SourceSansProSemiBold;
  font-size: 41px;
  font-weight: 700;
  line-height: 1.1;
}

.article-info-wrapper {
  font-family: SourceSansProSemiLight;
  font-style: italic;
  color: #444;
  display: flex;
}

.article-excerpt {
  font-family: SourceSansProSemiBold;
  font-size: 18px;
}

.parenthtml {
  line-height: 1.5;
  font-size: 18px;
  font-family: SourceSansProLight;
  font-weight: 500;
}

.shareBtn {
  font-family: SourceSansProSemiBold;
  box-sizing: border-box;
  position: relative;
  /* margin: 0.2em; */
  padding: 0 12px 0 48px;
  border: none;
  text-align: left;
  line-height: 30px;
  white-space: nowrap;
  border-radius: 0.2em;
  /* font-size: 16px; */
  color: #fff;
}

.comment-block__title {
  font-family: SourceSansProSemiBold;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 8px;
  font-weight: 600;
  text-transform: uppercase;
  color: #111;
}

.comment-form__area, .comment-form__input {
  font-family: SourceSansProLight;
  font-weight: 600;
  width: 100%;
  padding: 6px 9px;
  border: 1px solid #e1e1e1;
  color: #444;
  line-height: 21px;
  font-size: 14px;
  outline: none;
  transition: 0.4s color ease;
}

.comment-form__btn {
  font-family: SourceSansProLight;
  padding: 10px 10px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #222;
  border-radius: 0;
  color: #fff;
  border: none;
  font-weight: 500;
  transition: background-color 0.4s;
}

.comment__wrapper {
  font-family: SourceSansProSemiBold;
  display: flex;
}

/* Editor server */
:root {
  --ck-color-mention-background: hsla(341, 100%, 30%, 0.1);
  --ck-color-mention-text: hsl(341, 100%, 30%);
  --ck-highlight-marker-blue: hsl(201, 97%, 72%);
  --ck-highlight-marker-green: hsl(120, 93%, 68%);
  --ck-highlight-marker-pink: hsl(345, 96%, 73%);
  --ck-highlight-marker-yellow: hsl(60, 97%, 73%);
  --ck-highlight-pen-green: hsl(112, 100%, 27%);
  --ck-highlight-pen-red: hsl(0, 85%, 49%);
  --ck-image-style-spacing: 1.5em;
  --ck-todo-list-checkmark-size: 16px;
}
/**/
/* ckeditor5-font/theme/fontsize.css */
.ck-content .text-tiny {
  font-size: .7em;
}
/* ckeditor5-font/theme/fontsize.css */
.ck-content .text-small {
  font-size: .85em;
}
/* ckeditor5-font/theme/fontsize.css */
.ck-content .text-big {
  font-size: 1.4em;
}
/* ckeditor5-font/theme/fontsize.css */
.ck-content .text-huge {
  font-size: 1.8em;
}
/* ckeditor5-highlight/theme/highlight.css */
.ck-content .marker-yellow {
  background-color: var(--ck-highlight-marker-yellow);
}
/* ckeditor5-highlight/theme/highlight.css */
.ck-content .marker-green {
  background-color: var(--ck-highlight-marker-green);
}
/* ckeditor5-highlight/theme/highlight.css */
.ck-content .marker-pink {
  background-color: var(--ck-highlight-marker-pink);
}
/* ckeditor5-highlight/theme/highlight.css */
.ck-content .marker-blue {
  background-color: var(--ck-highlight-marker-blue);
}
/* ckeditor5-highlight/theme/highlight.css */
.ck-content .pen-red {
  color: var(--ck-highlight-pen-red);
  background-color: transparent;
}
/* ckeditor5-highlight/theme/highlight.css */
.ck-content .pen-green {
  color: var(--ck-highlight-pen-green);
  background-color: transparent;
}
/* ckeditor5-image/theme/image.css */
.ck-content .image {
  display: table;
  clear: both;
  text-align: center;
  margin: 1em auto;
}
/* ckeditor5-image/theme/image.css */
.ck-content .image img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  min-width: 50px;
}
/* ckeditor5-image/theme/imagecaption.css */
.ck-content .image > figcaption {
  display: table-caption;
  caption-side: bottom;
  word-break: break-word;
  color: hsl(0, 0%, 20%);
  background-color: hsl(0, 0%, 97%);
  padding: .6em;
  font-size: .75em;
  outline-offset: -1px;
}
/* ckeditor5-image/theme/imageresize.css */
.ck-content .image.image_resized {
  max-width: 100%;
  display: block;
  box-sizing: border-box;
}
/* ckeditor5-image/theme/imageresize.css */
.ck-content .image.image_resized img {
  width: 100%;
}
/* ckeditor5-image/theme/imageresize.css */
.ck-content .image.image_resized > figcaption {
  display: block;
}
/* ckeditor5-horizontal-line/theme/horizontalline.css */
.ck-content hr {
  margin: 15px 0;
  height: 4px;
  background: hsl(0, 0%, 87%);
  border: 0;
}
/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-side {
  float: right;
  margin-left: var(--ck-image-style-spacing);
  max-width: 50%;
}
/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-align-left {
  float: left;
  margin-right: var(--ck-image-style-spacing);
}
/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-align-center {
  margin-left: auto;
  margin-right: auto;
}
/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-align-right {
  float: right;
  margin-left: var(--ck-image-style-spacing);
}
/* ckeditor5-block-quote/theme/blockquote.css */
.ck-content blockquote {
  overflow: hidden;
  padding-right: 1.5em;
  padding-left: 1.5em;
  margin-left: 0;
  margin-right: 0;
  font-style: italic;
  border-left: solid 5px hsl(0, 0%, 80%);
}
/* ckeditor5-block-quote/theme/blockquote.css */
.ck-content[dir="rtl"] blockquote {
  border-left: 0;
  border-right: solid 5px hsl(0, 0%, 80%);
}
/* ckeditor5-basic-styles/theme/code.css */
.ck-content code {
  background-color: hsla(0, 0%, 78%, 0.3);
  padding: .15em;
  border-radius: 2px;
}
/* ckeditor5-table/theme/table.css */
.ck-content .table {
  margin: 1em auto;
  display: table;
}
/* ckeditor5-table/theme/table.css */
.ck-content .table table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  border: 1px double hsl(0, 0%, 70%);
}
/* ckeditor5-table/theme/table.css */
.ck-content .table table td,
.ck-content .table table th {
  min-width: 2em;
  padding: .4em;
  border: 1px solid hsl(0, 0%, 75%);
}
/* ckeditor5-table/theme/table.css */
.ck-content .table table th {
  font-weight: bold;
  background: hsla(0, 0%, 0%, 5%);
}
/* ckeditor5-table/theme/table.css */
.ck-content[dir="rtl"] .table th {
  text-align: right;
}
/* ckeditor5-table/theme/table.css */
.ck-content[dir="ltr"] .table th {
  text-align: left;
}
/* ckeditor5-page-break/theme/pagebreak.css */
.ck-content .page-break {
  position: relative;
  clear: both;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ckeditor5-page-break/theme/pagebreak.css */
.ck-content .page-break::after {
  content: '';
  position: absolute;
  border-bottom: 2px dashed hsl(0, 0%, 77%);
  width: 100%;
}
/* ckeditor5-page-break/theme/pagebreak.css */
.ck-content .page-break__label {
  position: relative;
  z-index: 1;
  padding: .3em .6em;
  display: block;
  text-transform: uppercase;
  border: 1px solid hsl(0, 0%, 77%);
  border-radius: 2px;
  font-family: Helvetica, Arial, Tahoma, Verdana, Sans-Serif;
  font-size: 0.75em;
  font-weight: bold;
  color: hsl(0, 0%, 20%);
  background: hsl(0, 0%, 100%);
  box-shadow: 2px 2px 1px hsla(0, 0%, 0%, 0.15);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* ckeditor5-media-embed/theme/mediaembed.css */
.ck-content .media {
  clear: both;
  margin: 1em 0;
  display: block;
  min-width: 15em;
}
/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list {
  list-style: none;
}
/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list li {
  margin-bottom: 5px;
}
/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list li .todo-list {
  margin-top: 5px;
}
/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list .todo-list__label > input {
  -webkit-appearance: none;
  display: inline-block;
  position: relative;
  width: var(--ck-todo-list-checkmark-size);
  height: var(--ck-todo-list-checkmark-size);
  vertical-align: middle;
  border: 0;
  left: -25px;
  margin-right: -15px;
  right: 0;
  margin-left: 0;
}
/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list .todo-list__label > input::before {
  display: block;
  position: absolute;
  box-sizing: border-box;
  content: '';
  width: 100%;
  height: 100%;
  border: 1px solid hsl(0, 0%, 20%);
  border-radius: 2px;
  transition: 250ms ease-in-out box-shadow, 250ms ease-in-out background, 250ms ease-in-out border;
}
/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list .todo-list__label > input::after {
  display: block;
  position: absolute;
  box-sizing: content-box;
  pointer-events: none;
  content: '';
  left: calc( var(--ck-todo-list-checkmark-size) / 3 );
  top: calc( var(--ck-todo-list-checkmark-size) / 5.3 );
  width: calc( var(--ck-todo-list-checkmark-size) / 5.3 );
  height: calc( var(--ck-todo-list-checkmark-size) / 2.6 );
  border-style: solid;
  border-color: transparent;
  border-width: 0 calc( var(--ck-todo-list-checkmark-size) / 8 ) calc( var(--ck-todo-list-checkmark-size) / 8 ) 0;
  transform: rotate(45deg);
}
/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list .todo-list__label > input[checked]::before {
  background: hsl(126, 64%, 41%);
  border-color: hsl(126, 64%, 41%);
}
/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list .todo-list__label > input[checked]::after {
  border-color: hsl(0, 0%, 100%);
}
/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list .todo-list__label .todo-list__label__description {
  vertical-align: middle;
}
/* ckeditor5-html-embed/theme/htmlembed.css */
.ck-content .raw-html-embed {
  margin: 1em auto;
  min-width: 15em;
  font-style: normal;
}
/* ckeditor5-code-block/theme/codeblock.css */
.ck-content pre {
  padding: 1em;
  color: hsl(0, 0%, 20.8%);
  background: hsla(0, 0%, 78%, 0.3);
  border: 1px solid hsl(0, 0%, 77%);
  border-radius: 2px;
  text-align: left;
  direction: ltr;
  tab-size: 4;
  white-space: pre-wrap;
  font-style: normal;
  min-width: 200px;
}
/* ckeditor5-code-block/theme/codeblock.css */
.ck-content pre code {
  background: unset;
  padding: 0;
  border-radius: 0;
}
/* ckeditor5-mention/theme/mention.css */
.ck-content .mention {
  background: var(--ck-color-mention-background);
  color: var(--ck-color-mention-text);
}
@media print {
  /* ckeditor5-page-break/theme/pagebreak.css */
  .ck-content .page-break {
      padding: 0;
  }
  /* ckeditor5-page-break/theme/pagebreak.css */
  .ck-content .page-break::after {
      display: none;
  }
}
.ck-content .image>.text-caption {
  text-align: center;
  word-break: break-word;
  color: #333;
  /* background-color: rgb(224, 223, 223); */
  font-size: .75em;
}

:root {
  --ck-image-style-spacing: 1.5em
}

.ck-content .image-style-side {
  float: right;
  margin-left: var(--ck-image-style-spacing);
  max-width: 50%
}

.ck-content .image-style-align-left {
  float: left;
  margin-right: var(--ck-image-style-spacing)
}

.ck-content .image-style-align-center {
  margin-left: auto;
  margin-right: auto
}

.ck-content .image-style-align-right {
  float: right;
  margin-left: var(--ck-image-style-spacing)
}
.ck-content .media {
  clear: both;
  margin: 1em 0;
  display: block;
  min-width: 15em;
}

.simpleGrid {
  margin: 1em 0;
  /* padding: 10px;
  background: rgba( 0, 0, 0, 0.1); */
  border: solid 1px hsl(0, 0%, 77%);
  border-radius: 2px;
}

.simpleGridCol1, .simpleGridCol2, .simpleGridCol3 {
  padding: 10px;
  /* margin: 4px; */
  background: #FFF;
  border: solid 1px hsl(0, 0%, 77%);
}
.ck-content .image.image_resized {
  max-width: 100%;
  display: block;
  box-sizing: border-box;
}
/* ckeditor5-image/theme/imageresize.css */
.ck-content .image.image_resized img {
  width: 100%;
}
/* ckeditor5-image/theme/imageresize.css */
.ck-content .image.image_resized > figcaption {
  display: block;
}
/* ckeditor5-image/theme/imagecaption.css */
.ck-content .image > figcaption {
  display: table-caption;
  caption-side: bottom;
  word-break: break-word;
  color: hsl(0, 0%, 20%);
  background-color: hsl(0, 0%, 97%);
  padding: .6em;
  font-size: .75em;
  outline-offset: -1px;
}
/* ckeditor5-image/theme/image.css */
.ck-content .image {
  display: table;
  clear: both;
  text-align: center;
  margin: 1em auto;
}
/* ckeditor5-image/theme/image.css */
.ck-content .image img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  min-width: 50px;
}